* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* @media only screen and (max-width: 900px){
  body{
    overflow-y: scroll;
  }
} */